body {
    background-image: linear-gradient(to bottom, #969696, #6c6c6c);
    height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--mainFont);
}

.badges {
    text-align: center;
    width: 75vw;
    margin-left: 22em;
}

.icon {
    height: 9em;
    width: 9em;
    margin-right: 2.75em;
    margin-top: 3em;
    text-align: center;
}

.rPIicon {
    height: 9em;
    width: 7.5em;
    margin-right: 2.75em;
    margin-top: 3em;
}

.icon:hover, .rPIicon:hover{
    transition-timing-function: linear;
    transition: 550ms;
    transform: scale(1.5);
}

.fab, .fas {
    color: #CCD4D4;
}

a.fab :hover{
    color: #3c5677;
}

a.far :hover{
    color: #CCD4D4;
}

.name {
    background-color: hsla(206, 10%, 87%, 60%);
    margin: 33vh 25vw;
    border-radius: .25em;
}

.box {
    background-color: hsla(206, 10%, 87%, 35%);
    margin: 10vh 15vw 10vh 15vw;
    text-align: center;
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: .5em;
}

.box1{
    width: 100%;
    align-items: center;
    text-align: center;
}

.iconLinks {
    margin-left: 75rem;
}

.links {
    display: inline;
    text-decoration: none; 
    font-size: 45pt;
    margin-left: 1.5em;
}

.impLinks {
    margin-left: -11em;
    margin-top: 3em;
    text-align: center;
    color: #CCD4D4;
}

.fab:hover {
    transition-timing-function: linear;
    transition: 350ms;
    transform: scale(1.5)
}

a.links:hover {
    color: #234B4D;
}
