body {
    background-image: linear-gradient(to bottom, #384454, #273547);
    height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--mainFont);
}

.badges {
    size: 55rem;
    text-align: center;
}

.icon {
    height: 7rem;
    width: 7rem;
    margin-right: 2rem;
}

.fab, .fas {
    color: #CCD4D4;
}

a.fab :hover{
    color: #3c5677;
}

a.far :hover{
    color: #CCD4D4;
}

.name {
    background-color: hsla(206, 10%, 87%, 60%);
    margin: 33vh 25vw;
    border-radius: .25em;
}

.box {
    background-color: hsla(206, 10%, 87%, 35%);
    margin: 25vh 15vw 10vh 15vw;
    text-align: center;
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 1em;
}

.box1{
    width: 100%;
    align-items: center;
    text-align: center;
}

.iconLinks {
    margin-left: 75rem;
}

.links {
    display: inline;
    text-decoration: none; 
    font-size: 45pt; 
    justify-content: center;

    /* margin: 1em 2em 1em 1em" */
}

a.links :hover{
    color: #234B4D;
}

.impLinks {
    margin-left: -13em;
    margin-top: 5em;
    text-align: center;
}