body {
    background-image: linear-gradient(to bottom, #DCDCDC, #545454);
    height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--mainFont);
}

.badges {
    size: 55rem;
    text-align: center;
}

.fab, .fas {
    color: #CCD4D4;
}

.far a:hover{
    color: #CCD4D4;
}


.box {
    background-color: hsla(206, 10%, 87%, 15%);
    margin: 29vh 15vw 18vh 15vw;
    text-align: center;
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 2em;
}

.box1{
    width: 100%;
    align-items: center;
    text-align: center;
}

.iconLinks {
    margin-left: 75rem;
}

.links {
    display: inline;
    text-decoration: none; 
    font-size: 45pt; 
    justify-content: center;

    /* margin: 1em 2em 1em 1em" */
}

.impLinks {
    margin-left: -13em;
    margin-top: 10em;
    text-align: center;
}