#contact {
    top: 85em;
    font-size: 9.5em;
}
.container1{
    padding: .5rem;
    font-size: 12pt;
    max-width: 30em;
}

h2 {
    font-size: 9.5em;
}

.links {
    display: inline;
    text-decoration: none; 
    font-size: 15pt; 
    margin-top: 2em;

    /* margin: 1em 2em 1em 1em" */
}