#contact {
    top: 85rem;
    margin: 10vh 40vw;
    font-size: 9.5rem;
    width: 15em;
}
.container1{
    margin: 2.25vw;
    padding: 2.5rem;
    font-size: 10pt;
}

h2 {
    margin-right: 20em;
    font-size: 9.5em;
}
