#contact {
    top: 85em;
    font-size: 9.5em;
}
.container1{
    padding: .5rem;
    font-size: 12pt;
    min-width: 50em;
}

h1 {
    color: #CCD4D4;
}

label {
    color: #CCD4D4;
}

.form-control {
    width: 40em;
}
