footer {
    background: url(../assets/img/hoh_pano.jpg) no-repeat center 30%;
    filter: blur(.5px);
    background-size: cover;
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #CFE3E9;
    /* text-align: center; */
    height: 2rem;
    font-style: oblique;
    text-shadow: 1px 1px 1px #234B4D;
}

.cr {
    padding-top: 7rem;
    padding-left: 45%;
}

p {
    font-size: 12pt;
}
/* .far a:hover{
    color: #CCD4D4;
}
.far {
    color: #CCD4D4;
} */