.jumbotron {
    background: url(../assets/img/conifer-daylight-environment-338936.jpg) no-repeat center 30%;
    /* height: 20%; */
    background-size: cover;
    color: #C4CCC4;
    text-align: center;
    height: 15rem;
    font-style: oblique;
    font-weight: bolder;
}