.jumbotron {
    background: url(../assets/img/hoh_pano.jpg) no-repeat center 30%;
    min-height: 66em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 15rem;
    font-style: oblique;
    font-weight: bolder;
    top: 0vh;
}

.display-1 {
   margin-top: 24rem;
   color: #234B4D;
   text-shadow: 1px 1px 1px #333333;
}
