#nav-content {
    margin-left: 80%;
    font-size: 10pt;
}

.navbar-brand {
    font-size: 14pt;
    font-color: #B9D4EC;
}

nav{
    /* background-color: #96A492;
    color: #B9D4EC; */
    z-index: 1;
    position: fixed;
    overflow: auto;
    height: 3rem;
    min-height: 45px;
    
}
