#nav-content {
    margin-left: 80%;
    font-size: 10pt;
}

.navbar-brand {
    font-size: 16pt;
    color: rgb(202, 203, 204);
}

nav {
    color: #B9D4EC;
    position: sticky;
    height: 3em;
    
    max-height: 5rem;
    overflow-y: hidden;
    
}
