#nav-content {
    margin-left: 80%;
    font-size: 10pt;
}

.navbar-brand {
    font-size: 12pt;
    color: #B9D4EC;
}

nav {
    color: #B9D4EC;
    z-index: 1;
    position: fixed;
    height: 1.5rem;
    min-height: 27px;
    max-height: 27px;
    overflow-y: scroll;
    
}
