img {
    height: 20em;
    width: 34em;
    left: 10em;
}
#a{
    margin-bottom: 7em;
    margin-left: 2.5em;
    color: #234B4D;
}
#a:hover {
    background-color: hsla(206, 28%, 71%, 15%)
}

.desc {
    padding-top: 1.5em;
    font-size: 1.5em;
}
